body{
    background: url("images/main.jpg");
}

p {
	font-style: italic;
	font-size: 20px;  
}

.err {
	font-style: italic;
	font-size: 20px; 
	color: red;  
	text-align: center; 
}

.sendsubmit {
	width:  293px;
	height: 220px;
	border-radius: 15px;
	margin: 0;
	padding:0;
	border: 0;
	background: transparent url("images/tours.jpg") no-repeat center top;
	text-indent: -1000em;
	cursor: pointer; 
	cursor: hand; 
}

.edit {
	width:  293px;
	height: 220px;
	border-radius: 15px;
	margin: 0;
	padding:0;
	border: 0;
	background: transparent url("images/edit.jpg") no-repeat center top;
	text-indent: -1000em;
	cursor: pointer; 
	cursor: hand; 
}

.delete {
	width:  293px;
	height: 220px;
	border-radius: 15px;
	margin: 0;
	padding:0;
	border: 0;
	background: transparent url("images/mytours.jpg") no-repeat center top;
	text-indent: -1000em;
	cursor: pointer; 
	cursor: hand; 
}

td {
	text-align: center;
}